<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detail.css">
    <title>Details Ecommerce de ropa</title>
</head>
<body>
    <div class="card">
        <div class="product_img">
            <img src="/storage/img/index/image2.png" alt="Gabardina" class="imgP">
            <div class="icon_product">
                <img src="/storage/img/index/icon/rev.png" class="iconProRev">
                <div class="iconPro">
                    <img src="/storage/img/index/icon/heartBlack.png">
                </div>
            </div>
        </div>
        <div class="info">
            <div class="container-titleView">
                <div class="titleView">
                    <h2>Light Dress Bless</h2>
                    <div class="rating">
                        <img src="/storage/img/index/icon/star.png"/>
                        <p>5.0</p><a href="">(7.932 reviews)</a>
                    </div>
                </div>
                <div class="quantity">
                    <button><img src="/storage/img/index/icon/menos.png"></button>
                    <span>1</span>
                    <button><img src="/storage/img/index/icon/mas.png"></button>
                </div>
            </div>
            <p class="description">Its simple and elegant shape makes it perfect for those of you who want minimalis clothes <span class="readMore">Read More...</span></p>
            <div class="size_color">
                <div class="size">
                    <h3>Choose Size</h3>
                    <button class="Size-button">S</button>
                    <button class="Size-button">M</button>
                    <button class="Size-button">L</button>
                    <button class="Size-button">XL</button>
                </div>
                <div class="color">
                    <h3>Color</h3>
                    <button class="color-button colorG" style="background-color: #787676;"></button>
                    <button class="color-button colorD" style="background-color: #A3A1A2;"></button>
                    <button class="color-button colorB" style="background-color: #f2f2f2;"></button>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <a href="#" class="bar">
            <img src="/storage/img/index/icon/shopping-card.png" class="shopping-car"/>
            <p>Add to cart | $100.99 <s>190.99</s></p>
        </a>
    </footer>
</body>
</html>